body{
  overflow: hidden;
  margin: auto;
  margin-top: 0%;
}
.socials{
  position:absolute;
  margin-bottom: 10%;  margin-top: 3%;
  margin-left: 90%;
  margin-right: 100%;
  padding-right: 100%;
  gap: 2%;
color: gray;
position: absolute;
display: flex;
gap: 15px;
font-size: 50px;

}
#ig{
  border: solid 1px;
  border-radius: 15px;
  font-size: 40px;
  width: 100%;
  

}
#fb{
  border: solid 1px;
  border-radius: 15px;
  font-size: 40px;
  color: orangered;
  width: 100%;
}

.acrra{
    background: url(Images/anokle\ accra.jpg);
    filter:brightness(0.65);
    background-repeat: no-repeat;
    height: 100vh;
    width: 50%;
    padding-top: 10%;

   
}
.nairobi{
    background: url(Images/ankole\ nairobi.jpg);
    filter:brightness(0.65);
    background-repeat: no-repeat;
    height: 100vh;
    width: 50%;
    padding-top: 10%;
    
}
.zanzibar{
    background: url(Images/anokle\ zanzibar.jpg);
    filter:brightness(0.65);
    background-repeat: no-repeat;
    height: 100vh;
    width: 50%;
    padding-top: 10%;
}
.addis{
    background: url(Images/anokle\ addis.jpg);
    filter:brightness(0.65);
    background-repeat: no-repeat;
    height: 100vh;
    width: 50%;
    padding-top: 10%;

}
.events{
    display: flex;
    text-align: center;
    
}
.events h1{
    font-size: 70px;
    color: white;
}
.events p{
    font-size: 20px;
    color: rgb(224, 189, 30);
}
#logo{
  position: absolute;
  padding-left: 40%;
  width: 20%;
}
.info p{
  font-size: 18px;
  color: white;
}
#pav{
    color: gray;
    font-size: 25px;

}

.navbar{
  position: absolute;
  height:30px;
  width:40%;
  border-radius: 50px;
  background-color: black;
  top:85%;
  padding-top: 22px;
    padding-bottom: 20px;
    border-radius: 40px;
    margin-bottom: 55px;
    margin-left: 28%;
  font-size: 17px;
  margin-top: 0%;

}
 
.navbar a{
  text-decoration: none;
  color: white;
  gap:1%;
  align-items: center;
  padding: 1%;
  margin-left: 2%;
  
}


#reserve{
  background-color: grey;
  height: 50px;
  width: 130px;
  border-radius: 30px;
  border: none;
  transition-duration: 0.4s;
  cursor: pointer;

}
#reserve:hover{
background-color: white;
color:black;

  
}
.navbar a:hover {
background: rgb(36, 35, 35);
}

.navbar a.active {
background-color: black;
color: rgb(32, 27, 27);
}
.fa-whatsapp{
  padding: 2.7% 3% ;
  position: absolute;
  left: 215%;
top: 8%;
font-size: 40px;
border: 1px solid gray;
width: 32px;
height: 34px;  
border-radius: 90px;
background-color: black;
margin-left: -60%;
color: white;
padding-bottom: 3.5%;

}
  
  